body.menu { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; background-color: #FFFFFF}
body { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; background-color: #EBFFF9}
th   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; background-color: #D3DCE3;}
td   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
td.menu   { text-align: center; vertical-align: middle; background-color: #00CCFF;}
td.activ  { text-align: center; vertical-align: middle; background-color: #FF7B00;}
form   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
h1   {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bold}
A:link    { font-family: monospace; font-size: 10pt; font-weight: bold; text-decoration: none; color: #000000}
A:visited { font-family: monospace; font-size: 10pt; font-weight: bold; text-decoration: none; color: #000000}
A:hover   { font-family: monospace; font-size: 10pt; font-weight: bold; text-decoration: none; color: #000000; background-color: #CCFFCC}
